@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Rubik";
  src: url(assets/fonts/Rubik-VariableFont_wght.ttf) format("truetype");
  font-weight: 300 500;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url(assets/fonts/Rubik-Italic-VariableFont_wght.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root {
  font-family: "Rubik", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light; */
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-500: #626c7f;
  --color-gray-50: #f4f6fa;
  --color-blue-950: #2d3949;
  --color-blue-900: #313e51;
  --color-blue-850: #3b4d66;
  --color-blue-500: #306aff;
  --color-blue-300: #abc1e1;
  --color-blue-100: #edf1f9;
  --color-blue-50: #ebf0ff;
  --color-green-500: #2fd887;
  --color-green-100: #e0fdef;
  --color-purple-600: #a729f5;
  --color-purple-100: #f6e7ff;
  --color-orange-400: #ff7e35;
  --color-orange-50: #fff5ed;
  --color-red-500: #ee5454;

  --text-3xl: 1.75rem;
  --text-4xl: 2.25rem;
  --text-6xl: 4rem;
  --text-7xl: 5.5rem;
  --leading-tight: 1.2;

  --spacing-20: 4.5rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-800: 4rem;
  --spacing-900: 4.5rem;
  --spacing-1600: 8rem;
  --spacing-1800: 9rem;
  --spacing-2300: 11.5rem;

  --progress-completed: 100%;

  --options-selected-padding: 0.8125rem;
  
  --option-border-width: 0.1875rem;
  --option-padding: calc(1rem - var(--option-border-width));
  --option-padding-desktop: calc(1.5rem - var(--option-border-width));
}

body {
  @apply text-blue-900 bg-gray-50 bg-[url(/images/pattern-background-mobile-light.svg)] md:bg-[url(/images/pattern-background-tablet-light.svg)] lg:bg-[url(/images/pattern-background-desktop-light.svg)] bg-no-repeat bg-cover dark:bg-blue-900 dark:bg-[url(/images/pattern-background-mobile-dark.svg)] dark:md:bg-[url(/images/pattern-background-tablet-dark.svg)] dark:lg:bg-[url(/images/pattern-background-desktop-dark.svg)] dark:text-white min-h-lvh lg:mx-4 md:bg-auto lg:bg-cover;
}

.color-scheme-html {
  @apply bg-orange-50;
}

.color-scheme-css {
  @apply bg-green-100;
}

.color-scheme-javascript {
  @apply bg-blue-50;
}

.color-scheme-accessibility {
  @apply bg-purple-100;
}

@utility text-preset-1-medium {
  @apply font-medium text-9xl/none;
}

@utility text-preset-2-medium {
  @apply font-medium text-6xl/none;
}

@utility text-preset-2-light {
  @apply font-light text-6xl/none;
}

@utility text-preset-3-medium {
  @apply font-medium text-4xl/tight;
}

@utility text-preset-4-medium {
  @apply font-medium text-3xl/none;
}

@utility text-preset-5-medium {
  @apply font-medium text-2xl/normal;
}

@utility text-preset-5-regular {
  @apply text-2xl/normal;
}

@utility text-preset-6-italic {
  @apply italic text-xl/normal;
}

@utility sm-text-preset-1-medium {
  @apply font-medium text-7xl/none;
}

@utility sm-text-preset-2-medium {
  @apply font-medium text-4xl/none;
}

@utility sm-text-preset-2-light {
  @apply font-light text-4xl/none;
}

@utility sm-text-preset-3-medium {
  @apply font-medium text-xl/tight;
}

@utility sm-text-preset-4-medium {
  @apply font-medium text-lg/none;
}

@utility sm-text-preset-5-italic {
  @apply italic text-sm/normal;
}

@layer base {
  header {
    @apply px-6 py-4 h-18 w-full flex items-center justify-between transition-all duration-150 md:pt-10 md:h-auto lg:h-56 lg:p-0;
  }

  main {
    @apply px-6 py-8 grid gap-y-10 md:gap-y-16 lg:grid-cols-[5fr_6fr] lg:gap-x-32 lg:py-0 lg:px-0;
  }
}

@layer components {
  .logo {
    @apply rounded-xl flex gap-4 items-center sm-text-preset-4-medium transition-all duration-150 md:h-14 md:text-preset-4-medium;
  }

  .btn-theme {
    @apply w-20 h-5 flex justify-between items-center transition-all md:w-32 md:h-7;
  }

  .icon-theme {
    @apply size-4 transition-all md:size-6;
  }

  .icon-dark {
    @apply hidden dark:block;
  }

  .icon-light {
    @apply block dark:hidden;
  }

  .toggle {
    @apply h-full w-8 bg-purple-600 rounded-full flex p-1 transition-all md:w-12;
  }

  .toggle-thumb {
    @apply rounded-full size-3 bg-white md:size-5 transition-all dark:ms-auto;
  }

  .title-1 {
    @apply sm-text-preset-2-light md:text-preset-2-light transition-all;
  }

  .title-2 {
    @apply sm-text-preset-2-medium md:text-preset-2-medium transition-all;
  }

  .description {
    @apply sm-text-preset-5-italic text-gray-500 dark:text-blue-300 md:text-preset-6-italic transition-all;
  }

  .content-header {
    @apply grid place-items-start gap-y-4 md:gap-y-6 transition-all lg:flex lg:flex-col lg:justify-start lg:gap-6 lg:h-118;
  }

  .question-text {
    @apply sm-text-preset-3-medium text-start md:text-preset-3-medium transition-all;
  }

  .progress-bar {
    @apply rounded-full mt-2 w-full h-4 p-1 bg-white dark:bg-(--color-blue-850) md:mt-4 transition-all lg:mt-auto;
  }

  .progress-bar-completed {
    @apply bg-purple-600 w-(--progress-completed) h-full rounded-full transition-all duration-150;
  }

  .content-body {
    @apply grid gap-y-4 md:gap-y-6 transition-all lg:gap-y-4;
  }

  .option-item {
    @apply h-18 bg-white rounded-xl md:rounded-3xl flex gap-4 items-center sm-text-preset-4-medium dark:bg-(--color-blue-850) border-(length:--option-border-width) border-transparent hover:border-purple-600 p-(--option-padding) cursor-pointer active:border-purple-600 has-disabled:border-transparent has-disabled:cursor-default has-disabled:has-checked:border-(length:--option-border-width) has-checked:border-purple-600 has-checked:[&.correct]:border-green-500 has-checked:[&.incorrect]:border-red-500 transition-all md:h-auto md:gap-8 md:text-preset-4-medium lg:p-(--option-padding-desktop);
  }

  .option-icon-container {
    @apply size-10 rounded-md flex items-center justify-center shrink-0 transition-all duration-150 md:size-14 md:rounded-xl;
  }

  .btn-primary {
    @apply bg-purple-600 h-14 flex items-center justify-center text-white rounded-xl sm-text-preset-4-medium cursor-pointer md:text-preset-4-medium transition-all md:h-23 md:rounded-3xl md:mt-2;
  }

  .option-answer {
    @apply bg-gray-50 text-gray-500 peer-checked:bg-purple-600 peer-checked:text-white group-hover:bg-purple-600 group-hover:text-white group-hover:peer-disabled:bg-gray-50 group-hover:peer-disabled:text-gray-500 group-hover:peer-checked:peer-disabled:bg-purple-600 group-hover:peer-checked:peer-disabled:text-white peer-checked:group-[&.correct]:!bg-green-500 peer-checked:group-[&.incorrect]:!bg-red-500;
  }

  .score-card {
    @apply grid p-8 gap-y-4 rounded-xl bg-white place-items-center text-center dark:bg-(--color-blue-850) md:rounded-3xl md:p-12 md:gap-y-10;
  }

  .score-detail {
    @apply grid gap-y-4 md:gap-y-8;
  }

  .score-correct {
    @apply sm-text-preset-1-medium md:text-preset-1-medium;
  }

  .score-total {
    @apply sm-text-preset-4-medium text-gray-500 dark:text-blue-300 md:text-preset-5-regular;
  }
}
