@import "tailwindcss";

@font-face {
  font-family: "Kumbh Sans";
  src: url(./assets/KumbhSans-VariableFont.ttf) format("truetype");
  font-display: swap;
}

:root {
    line-height: 1em;

  --space-0: 0rem;
  --space-0\.9375: 0.9375rem;
  --space-1: 1rem;
  --space-1\.25: 1.25rem;
  --space-1\.5: 1.5rem;
  --space-1\.75: 1.75rem;
  --space-2: 2rem;
  --space-2\.75: 2.75rem;
  --space-3: 3rem;
  --space-3\.125: 3.125rem;
  --space-4\.75: 4.75rem;
  --space-9\.5: 9.5rem;
  --space-11: 11rem;
  
  --vw-sm: 23.4325rem;
  --vw-md: 48rem;
  --vw-lg: 64rem;
  --vw-xl: 80rem;

  /* padding inline navbar */
  --px-to-md: clamp(
    var(--space-0),
    calc((var(--vw-md) - 100vw) * 0.06),
    var(--space-1\.5)
  );

  /* padding bottom navbar */
  --navbar-pb-to-md: clamp(
    var(--space-1\.5),
    calc(var(--space-1\.5) + (100vw - var(--vw-sm)) * 0.02),
    var(--space-2)
  );

  /* margin top root */
  --root-my-s-to-md: clamp(
    var(--space-1\.25),
    calc(var(--space-1\.25) + (100vw - var(--vw-sm)) * 0.02),
    var(--space-1\.75)
  );

  /* margin inline root */
  --root-mx-to-md: clamp(
    var(--space-0),
    calc((100vw - (var(--vw-md) - var(--space-9\.5))) * 0.5),
    var(--space-4\.75)
  );

  /* max width root */
  --max-content-x-md: 48rem;
  --max-content-x-lg: 78.875rem;
  --root-content-x-max: clamp(
    var(--max-content-x-md),
    calc(100vw - var(--space-9\.5)),
    var(--max-content-x-lg)
  );

  /* size btn profile */
  --profile-btn: clamp(
    var(--space-1\.5),
    calc(var(--space-1\.5) + (100vw - var(--vw-sm)) * 0.07),
    var(--space-3\.125)
  );

  /* margin block main image */
  --main-image-block-to-md: clamp(
    var(--space-0),
    calc((100vw - var(--vw-sm)) * 0.12),
    var(--space-3)
  );

  /* border radius main image */
  --main-image-radius: clamp(
    var(--space-0),
    calc((100vw - var(--vw-sm)) * 0.1),
    var(--space-0\.9375)
  );

  /* gap cart btn to profile btn */
  --cart-profile-gap-sm: clamp(
    var(--space-1\.5),
    calc(var(--space-1\.5) + (100vw - var(--vw-sm)) * 0.06),
    var(--space-3)
  );

  /* padding inline product */
  --product-mx-to-xl: clamp(var(--space-0), calc((100vw - var(--vw-lg)) * 0.296875), var(--space-2\.75));
  
  /* gap product image */
  --product-image-gap: clamp(var(--space-1), calc(var(--space-1) + (100vw - 64rem) * 0.0625), var(--space-2));

  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-950: #1d2026;
  --color-gray-500: #69707d;
  --color-gray-300: #c3cad9;
  --color-gray-100: #e4e9f2;
  --color-gray-50: #f6f8fd;
  --color-orange-500: #ff7e1b;
  --color-orange-300: #ffab6a;

  --fs-height-1: 3rem;
  --fs-height-2: 2rem;

  --fs-1: 2.75rem;
  --fs-2: 1.75rem;
  --fs-3: 1rem;
  --fs-4: 0.9375rem;
  --fs-5: 0.8125rem;
  --fs-6: 0.75rem;
  --fs-7: 0.625rem;
}

@theme {
  --font-display: "Kumbh Sans", "sans-serif";
  --text-preset-1: var(--fs-1);
  --text-preset-1--line-height: 3rem;
  --text-preset-2: clamp(
    var(--fs-2),
    calc(var(--fs-2) + (100vw - var(--vw-sm)) * 0.04),
    var(--fs-1)
  );
  --text-preset-2--line-height: clamp(
    var(--fs-height-2),
    calc(2rem + (100vw - var(--vw-sm)) * 0.04),
    var(--fs-height-1)
  );
  --text-preset-3: 1rem;
  --text-preset-3--line-height: 1.625rem;
  --text-preset-4: 0.9375rem;
  --text-preset-4--line-height: 1.625rem;
  --text-preset-5: 0.8125rem;
  --text-preset-5--line-height: 1rem;
  --text-preset-6: 0.75rem;
  --text-preset-6--line-height: 0.9375rem;
  --text-preset-7: 0.625rem;
  --text-preset-7--line-height: 0.625rem;

  --animate-fade-in: fadeIn 150ms ease-in forwards;
  --animate-slide-right: slideRight 150ms ease-in 150ms forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

body {
  @apply font-display overflow-x-hidden relative flex justify-center;
}

#root {
  @apply mt-(--root-my-s-to-md) max-w-(--root-content-x-max) px-(--root-mx-to-md) md:mt-7 lg:grid-cols-[1fr_1fr] lg:grid-rows-[auto_1fr] lg:grid lg:gap-y-24 lg:gap-x-10 transition-all relative;
}

.nav-link {
  @apply relative hover:text-gray-950 transition-all after:absolute after:w-0 after:h-1 after:bg-orange-500 after:content-[''] after:-bottom-12 after:right-0 hover:after:w-full after:transition-all after:ease-in-out;
}

button {
  @apply cursor-pointer focus:outline-none relative;
}

/* PrimaryButton */
.primary-button {
  @apply flex items-center gap-4 justify-center h-14 w-full bg-orange-500 hover:bg-orange-300 rounded-[.625rem] text-gray-950 font-bold disabled:cursor-not-allowed disabled:bg-orange-300;
}

.quantity-box {
  @apply flex justify-between items-center h-14 bg-gray-50 w-full p-4 rounded-[0.625rem] text-gray-950 font-bold;
}

/* SideNav */
.side-nav {
  @apply flex flex-col pt-6 md:pt-12 bg-gray-50 ps-6 md:ps-20 gap-14 h-full w-2/3 max-w-75 animate-slide-right -translate-x-full fixed left-0 top-0 z-50;
}

.side-nav > .nav {
  @apply grid gap-y-6 font-bold text-lg/6.5;
}

.overlay-close {
  @apply w-fit group-[.lightbox]:fill-white group-[.lightbox]:size-5 group-[.lightbox]:hover:fill-orange-500 transition-all;
}

/* Navbar */
.navbar {
  @apply flex justify-between border-b-1 border-gray-100 px-(--px-to-md) pb-(--navbar-pb-to-md) items-center lg:col-span-2 transition-all;
}

.logo-and-menu {
  @apply flex gap-4 lg:gap-14 items-end lg:items-center h-fit lg:h-12.5;
}

.logo-and-menu > ul {
  @apply hidden lg:flex gap-8 text-preset-4 text-gray-500;
}

.cart-and-profile {
  @apply flex items-center gap-(--cart-profile-gap-sm);
}

.cart-badge {
  @apply absolute content-[data-[value]] -top-1 -right-1.5 bg-orange-500 text-preset-7 grid place-items-center w-4.25 h-3.25 rounded-md text-white;
}

.btn-profile {
  @apply size-(--profile-btn) md:size-12.5 transition-all;
}

/* Cart */
.cart-icon {
  @apply fill-gray-500 peer-[.cart-badge]:fill-gray-950;
}

/* PreviewCart */
.preview-cart {
  @apply shadow w-90 grid absolute bg-white top-16.5 rounded-[0.675rem] z-50 right-2 transition-all;
}

.cart-item {
  @apply flex items-center justify-between gap-4 text-gray-500;
}

.cart-item-image {
  @apply size-12.5 rounded-sm;
}

.preview-header {
  @apply px-3 py-6 text-gray-950 text-preset-3 font-bold border-b-2 border-gray-100;
}

.cart-list {
  @apply min-h-45 flex flex-col text-preset-3 p-6 gap-6 items-center justify-center;
}

.empty-cart {
  @apply font-bold text-gray-500;
}

/* ProductImages */
.product-carousel {
  @apply h-75 relative md:h-72.5 my-(--main-image-block-to-md) md:my-12 lg:my-0 lg:mx-(--product-mx-to-xl) lg:h-full transition-all lg:flex lg:flex-col lg:gap-(--product-image-gap) overflow-hidden rounded-(--main-image-radius) lg:rounded-none;
}

.product-carousel img {
  @apply object-cover object-center w-full md:object-[center_65%] lg:h-auto lg:aspect-square rounded-(--main-image-radius);
}

.main-image-control {
  @apply relative h-full lg:h-auto;
}

.main-image-control .overlay {
  @apply hidden lg:block;
}

.main-image-control .lightbox {
  @apply hidden lg:flex;
}

.image-control-wrapper {
  @apply absolute inset-0 lg:-inset-x-7 flex items-center justify-between p-4 lg:hidden group-[.lightbox]:flex group-[.lightbox]:p-0;
}

.slider-control-btn {
  @apply rounded-full flex items-center justify-center size-10 bg-white lg:size-14 stroke-gray-950 hover:stroke-orange-500 transition-all;
}

.slider-control-btn svg {
  @apply w-1.5 lg:w-2 aspect-[1/2];
}

.main-image-thumbnails {
  @apply hidden lg:flex lg:gap-(--product-image-gap) group-[.lightbox]:px-13 group-[.lightbox]:pt-4;
}

.main-image-thumbnails button {
  @apply rounded-[0.9375rem] overflow-hidden after:transition-all ease-in-out border-2 border-transparent;
}

.main-image-thumbnails button:hover,
.main-image-thumbnails button.selected {
  @apply relative after:absolute after:inset-0 after:content-[''] after:bg-white/75 after:z-20;
}

.main-image-thumbnails button.selected {
  @apply border-orange-500;
}

/* ProductDetails */
.product-details {
  @apply px-(--px-to-md) mt-6 text-gray-500 grid gap-y-8 md:gap-y-6 lg:mx-(--product-mx-to-xl) lg:flex lg:flex-col justify-center lg:gap-8 lg:mt-0;
}

.product-info,
.product-title-and-company {
  @apply grid gap-y-4 text-preset-4 md:gap-y-6 md:text-preset-3;
}

.product-info {
  @apply lg:gap-y-8;
}

.product-company {
  @apply uppercase text-preset-6 tracking-widest font-bold md:text-preset-5;
}

.product-title {
  @apply text-gray-950 text-preset-2 font-bold;
}

.price {
  @apply flex items-center justify-between font-bold md:flex-col md:w-fit md:items-start md:gap-2 md:text-preset-3;
}

.price-and-discount {
  @apply flex gap-4 md:gap-6;
}

.discounted-price {
  @apply text-gray-950 text-(length:--fs-2)/8;
}

.discount-badge {
  @apply rounded-md bg-black text-white text-preset-3 grid place-items-center w-12.75 h-6.75;
}

.original-price {
  @apply text-preset-3 line-through;
}

.qty-and-cta {
  @apply grid gap-y-4 md:flex md:gap-2 lg:grid lg:gap-x-4 lg:grid-cols-[33fr_56fr];
}

/* Utilites */
.overlay {
  @apply fixed inset-0 bg-black/75 opacity-0 animate-fade-in z-40;
}
